# -----------------------------------
# 1) IntelliJ IDEA
# -----------------------------------
# ignora toda a pasta de projeto do IDEA
/.idea/
/*.iml
# mas mantém só as configurações de Run/Debug compartilháveis
!.idea/runConfigurations/
!.idea/runConfigurations/*.xml

# -----------------------------------
# 2) Diretórios de build / artefatos
# -----------------------------------
# saídas da compilação Java
/out/
/build/
/target/
/bin/
# classes compiladas e pacotes gerados
*.class
*.jar
*.war

# se tiver libs internas (ex.: jade.jar), ignore aqui também
/libs/*.jar

# logs, temporários
*.log
*.tmp

# -----------------------------------
# 3) Ferramentas de build
# -----------------------------------
# se algum dia usarem Maven ou Gradle
/.mvn/
/.gradle/
/settings.gradle
!/.mvn/wrapper/maven-wrapper.jar

# -----------------------------------
# 4) Outras IDEs (Eclipse, NetBeans, VSCode)
# -----------------------------------
# Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings/
/.springBeans/
/sts4-cache/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# -----------------------------------
# 5) Arquivos de sistema
# -----------------------------------
.DS_Store
Thumbs.db
